<main class="container">
    <div class="card">
      <div class="card-text">
        <h1 class="title">
         About Us
        </h1>

        <p class="subtitle">
           We Provide New irrigation strategies for limited water resources, such as site-specific variable rate irrigation, 
            are required to maintain modern irrigated agricultural cropping systems.
        </p>
        <div class="stat-card">
          <div>
            <p class="num">1.4k+</p>
            <p>Data Stored</p>
          </div>
          <div>
            <p class="num">2.7m+</p>
            <p>Communities Formed</p>
          </div>
        </div>
        <div class="stat-card">
            <div>
              <p class="num">Contact Us</p>
              <p><a href="mailto:suryamaverick1404@gmail.com">Suryamaverick1404@gmail.com</a></p>
            </div>
          </div>
      </div>
      <div class="img-component">
        <img src="../../images/Good irrig management-1_1.png" alt="Header-Image" />
      </div>
    </div>
  </main>