 <div class="d-flex justify-content-center form">
    <form [formGroup]="formGroup">
      <h2>User Value</h2>
      <hr>
      <div class="form-group">
        <label for="waters">Water for Food Crops</label>
        <input
          id="waters"
          class="form-control"
          formControlName="waters"
          placeholder="Enter Total Litres Of Water"
          required
        />
        <div class="help-block text-danger" *ngIf="waters.touched">
          <span *ngIf="waters.errors?.required">
            Total Water is REQUIRED!!!
          </span>
        </div>
      </div><br>
      <div class="form-group">
        <label for="waters_tree">Water for Trees</label>
        <input
          id="waters_tree"
          class="form-control"
          formControlName="waters_tree"
          placeholder="Enter Total Litres Of Water"
          required
        />
        <div class="help-block text-danger" *ngIf="waters_tree.touched">
          <span *ngIf="waters_tree.errors?.required">
            Total Water is REQUIRED!!!
          </span>
        </div>
      </div><br>
      <div class="form-group">
        <label for="waters_non">Water for Non-Food Crops</label>
        <input
          id="waters_non"
          class="form-control"
          formControlName="waters_non"
          placeholder="Enter Total Litres Of Water"
          required
        />
        <div class="help-block text-danger" *ngIf="waters_non.touched">
          <span *ngIf="waters_non.errors?.required">
            Total Water is REQUIRED!!!
          </span>
        </div>
      </div><br>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="addWaterInfo()">Save</button>
      </div>
      </form>
    </div>
    <div>
      <button class="btn btn-primary" >Click</button>
    </div>
  
  