  <section id="section1"> 
    <div class="wrapper">
      <div class="container-block">
        <h1>Water Irrigation Management</h1>
        <p>
          Water resource management is the activity of planning, developing, distributing and managing the optimum use of water resources. 
          It is an aspect of water cycle management. 
        </p>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>
  </section>

  <section id="section2">
    <div class="wrapper">
      <img class="big-screen" src="../../images/istockphoto-638155104-170667a.jpg" alt="mainpicture">
    </div>
  </section>
  
  <section id="section3">
    <div class="wrapper">
      <div class="container">
        <div class="box">
          <div>
            <h1>1.4k+</h1>
            <p>Data Stored</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box">
          <div>
            <h1>2.7m+</h1>
            <p>Communities Formed</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="section4">
    <div class="curve-top1"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Grow Together</h2>
        <p>Generate meaningful discussions with your audience and build a strong, loyal community. 
          Think of the insightful conversations you miss out on with a feedback form.</p>
      </div>
      <img class="img" src="../../images/get-low-cost-irrigation-software-development.png" alt="irrigation">
    </div>
  </section>

  <section id="section5">
    <div class="wrapper">
      <img class="img" src="../../images/pivot-sprinkler-system-e1569274671323.jpg" alt="irrigation">
      <div class="container">
        <h2>Flowing Conversations</h2>
        <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads have 
          just-in-time loading for a more natural flow.</p>
      </div>
    </div>
  </section>

  <section id="section6">
    <div class="curve-top2"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Your Users</h2>
        <p>It takes no time at all to integrate Huddle with your app's authentication solution. This means, 
          once signed in to your app, your users can start chatting immediately.</p>
      </div>
      <img class="img" src="../../images/Water irrigation.jpg" alt="irrigation">
    </div>
  </section> -->
