  <section id="section1"> 
    <div class="wrapper">
      <div class="container-block">
        <h1>Water Irrigation Management</h1>
        <p>
          Water resource management is the activity of planning, developing, distributing and managing the optimum use of water resources. 
          It is an aspect of water cycle management. 
        </p>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>
  </section>

  <section id="section2">
    <div class="wrapper">
      <img class="big-screen" src="../../images/istockphoto-638155104-170667a.jpg" alt="mainpicture">
    </div>
  </section>
  
  <section id="section3">
    <div class="wrapper">
      <div class="container">
        <div class="box">
          <div>
            <h1>1.4k+</h1>
            <p>Data Stored</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box">
          <div>
            <h1>2.7m+</h1>
            <p>Communities Formed</p>
          </div>
        </div>
      </div>
    </div>
  </section>
