<nav>
    <h1>Dashboard</h1>
    <h3>{{value.firstName}}</h3>
  </nav>
  
  <section id="section4">
    <div class="curve-top1"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Water Management</h2>
        <p>Water management is the control and movement of water resources to minimize damage to life and property and to maximize efficient beneficial use.
           Good water management of dams and levees reduces the risk of harm due to flooding.</p><br>
        <button class="btn btn-primary" (click)="watermanage()">Water Management</button>
      </div>
      <img class="img" src="../../images/get-low-cost-irrigation-software-development.png" alt="irrigation">
    </div>
  </section>

  <section id="section5">
    <div class="wrapper">
      <img class="img" src="../../images/Water irrigation.jpg" alt="irrigation">
      <div class="container">
        <h2>Water Irrigation Level</h2>
        <p>Irrigation water has an RSC 8.5 meq l−1 and it needs to be reduced to 2.5 meq l−1. 
          The water required for irrigation is 800 mm per hectare for the complete growing period of the sorghum crop.</p><br>
        <button class="btn btn-primary" (click)="irrigation()">Water Irrigation Level</button>
      </div>
    </div>
  </section>

  <section id="section6">
    <div class="curve-top2"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Your Data</h2>
        <p>View your all activities in this Component</p><br>
        <button class="btn btn-primary" (click)="dataview()">Your Data</button>
      </div>
      <img class="img" src="../../images/user-data.png" alt="irrigation">
    </div>
  </section>

