<app-header></app-header><br>
<nav>
    <h1>Dashboard</h1>
    <div class="dropdown">
      <button class="username dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{userValue.firstName}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">View Profile</a></li>
        <li><a class="dropdown-item" routerLink="" (click)="logout()">Log Out</a></li>
      </ul>
    </div>
    <span><img src="https://www.freeiconspng.com/thumbs/person-icon/clipart--person-icon--cliparts-15.png" class="icon"alt="usericon"></span>
  </nav>
  
  <section id="section4">
    <div class="curve-top1"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Water Management</h2>
        <p>Water management is the control and movement of water resources to minimize damage to life and property and to maximize efficient beneficial use.
           Good water management of dams and levees reduces the risk of harm due to flooding.</p><br>
        <button class="btn btn-primary form" (click)="watermanagePage()">Water Management</button>
      </div>
      <img class="img" src="../../images/get-low-cost-irrigation-software-development.png" alt="irrigation">
    </div>
  </section>
<br>
  <section id="section5">
    <div class="wrapper">
      <img class="img" src="../../images/Water irrigation.jpg" alt="irrigation">
      <div class="container">
        <h2>Water Irrigation Level</h2>
        <p>Irrigation water has an RSC 8.5 meq l−1 and it needs to be reduced to 2.5 meq l−1. 
          The water required for irrigation is 800 mm per hectare for the complete growing period of the sorghum crop.</p><br>
        <button class="btn btn-primary form" (click)="irrigationPage()">Irrigation Management</button>
      </div>
    </div>
  </section>
<br>
  <section id="section6">
    <div class="curve-top2"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Your Data</h2>
        <p>View your all activities in this Component</p><br>
        <button class="btn btn-primary form" (click)="showSpinner()">Your Data</button>
      </div>
      <img class="img" src="../../images/user-data (1).png" alt="irrigation">
    </div>
  </section>
  <br>
  <section id="section6">
    <div class="curve-top2"></div>
    <div class="wrapper">
      <div class="container">
        <h2>Your Additional Info</h2>
        <p>Enter your Additional Info In this Component</p><br>
        <button class="btn btn-primary form" (click)="additionalInfo()">Additional Info</button>
      </div>
      <img class="img" src="../../images/user-data.png" alt="irrigation">
    </div>
  </section>
  <ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
          <h3 class="modal-title" id="exampleModalLabel">User Profile</h3>
          <div class="card container" style="width: 18rem;">
            <img src="https://www.freeiconspng.com/thumbs/person-icon/clipart--person-icon--cliparts-15.png" class="card-img" alt="icon">
            <div class="card-body">
              <h3 class="card-title">User Name<span><h4 class="card-title">{{value.firstName}}</h4></span></h3>
              <h3 class="card-title">Email<span><h4 class="card-title">{{value.email}}</h4></span></h3>
              <h3 class="card-title">Mobile Number<span><h4 class="card-title">{{value.mobile}}</h4></span></h3>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
