@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

html,body{
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
h2,h1,h3{
    color:hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}
p{
    color:rgba(0, 0, 0, 0.705);
    font-size: clamp(.9rem,1.125vw,1.125rem);
}

section:nth-child(5), section:nth-child(7){
    background-color: hsl(207, 100%, 98%);
    padding-top: 8rem;
    padding-bottom: 8rem;
    position:relative;
}

.wrapper{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:3rem 0;
}
.container, .img{
    width:50%;
}
.container-block{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:8em 5em 4em 5em;
}
.container p{
    width:90%;
}

#section5 .container{
    padding-left: 4em;
}
nav{
    display:flex;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    padding:3rem 7rem 0 7rem;
}
.icon{
    width: 40px;
    height: 32px;
    border-radius: 60%;
}
.username{
    margin-left: 800px;
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: transparent;
    background-color: transparent;
}
.card-img{
    height: 100px;
    width: 100px;
    align-items: center;
    
}
.dropdown-item{
    cursor: pointer;
    font-weight: 500;
}
.feed{
    margin-left: 43%;
}

@media (max-width:900px){
    .container p,h2{
        width:100%;
        text-align: center;
    }
    .wrapper{
        width:90%;
        flex-direction: column;
    }
    .container-block{
        padding:5em 0 3em 0;
        width:90%;
    }
    .container, .img{
        width:100%;
    }
    .img{
        order:-1;
    }
    #section5 .container{
        padding-left: 0;
    }
}