<footer>
    <div class="footer-curve"></div>
    <div class="wrapper">
      <div class="container">
        <div class="logo">
            <h1><b>Irrigation Management</b></h1>
        </div>
        <div class="contact">
          <img src="../../images/icon-phone.svg" alt="phone">&nbsp;<p>Phone: +1-543-123-4567</p>
        </div>
        <div class="contact">
          <img src="../../images/icon-email.svg" alt="email">&nbsp;<p>example@gmail.com</p>
        </div>
        <div class="socials">
          <img src="../../images/icon-facebook.svg" alt="facebook">&nbsp;&nbsp;
          <img src="../../images/icon-instagram.svg" alt="intagram">&nbsp;&nbsp;
          <img src="../../images/icon-twitter.svg" alt="twitter">
        </div>
      </div>
    </div>
  </footer>