<div class="d-flex justify-content-center">
  <form [formGroup]="formGroup" (ngSubmit)="storing()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        class="form-control"
        formControlName="firstName"
        placeholder="Enter FirstName"
        required
      />
      <div class="help-block text-danger" *ngIf="firstName.touched">
        <span *ngIf="firstName.errors?.required">
          First Name is REQUIRED!!!
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" class="form-control" formControlName="lastName" placeholder="Enter LastName" required/>
      <div class="help-block text-danger" *ngIf="lastName.touched">
        <span *ngIf="lastName.errors?.required">
          Last Name is REQUIRED!!!
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter Email"
        required
      />
      <div class="help-block text-danger" *ngIf="email.touched">
        <span *ngIf="email.errors?.required"> Email is REQUIRED!!! </span>
      </div>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" required/>
        <div class="help-block text-danger" *ngIf="password.touched">
          <span *ngIf="password.errors?.required">
            Password is REQUIRED!!!
          </span>
        </div>
      </div>

    <div class="form-group">
      <label for="mobile">Mobile Number</label>
      <input
        id="mobile"
        class="form-control"
        formControlName="mobile"
        placeholder="Enter your Mobile Number"
      />
      <div class="help-block text-danger" *ngIf="mobile.touched">
        <span *ngIf="mobile.errors?.required">
          Mobile Number is REQUIRED!!!
        </span>
      </div>
    </div>
    <hr />
    <button class="btn btn-primary" [disabled]="!formGroup.valid">Sign Up</button> <span> Or  </span>
  </form>
</div><br>
<button class="btn btn-secondary"> <a routerLink="/login"> Login</a></button>

<div>
  <table>
      <thead>
          <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Email</td>
              <td>Mobile</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of customer">
              <td>{{item.customer}}</td>
          </tr>
      </tbody>
  </table>
</div>