<nav>
    <h1><strong>Irrigation Management</strong></h1>
    <div class="dropdown">
      <button class="dropbtn">Services</button>
      <div class="dropdown-content">
        <a routerLink="/login" (click)="pleaseLogin()">Water Management</a>
        <a routerLink="/login" (click)="pleaseLogin()">Irrigation Management</a>
        <a routerLink="/login" (click)="pleaseLogin()">User Data</a>
      </div>
    </div>
    <a routerLink="/about"><strong>About Us</strong></a>
    <a routerLink="/login" (click)="logout()"><strong>Log Out</strong></a>
  </nav>