<div class="d-flex justify-content-center">
    <form [formGroup]="formGroup">
      <h2>Log In</h2>
    <hr>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter Email"
          required
        />
      </div>
      
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password" required/>
        </div>
      <hr />
      <button class="btn btn-primary" (click)="userLogin(formGroup.value)">Log In</button>
    </form>
  </div>
  